name: dprint

on:
  push:
    branches:
      - main
      - develop
  pull_request:
    branches:
      - main

jobs:
  dprint:
    name: Format Check
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v4

      - name: dprint check
        uses: dprint/check@v2.2
